<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">


        <form [formGroup]="formulario" (ngSubmit)="Armazenar()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar novo produto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input
          type="file"
          class="form-control"
          accept="image/*"
          (change)="ImagemUpload($event)"
          >         
          
          
          <input
          type="text"
          placeholder="Endereço"
          class="form-control"
          formControlName="endereco"
          >
          <input
          type="text"
          placeholder="Numero"
          class="form-control"
          formControlName="numero"
          >
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
